/* ------------Common css----------- */
body{
  background-color: #F9F4F1;
}
/* ------------Banner----------- */
.Outlined-Text {
  color: transparent;
  -webkit-text-stroke: 1px #1a5c58;
  text-stroke: 1px #1a5c58;    
}



